<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        table, th, td
        {
            border: 1px solid black;
        }
    </style>
    <script type="text/javascript">
        console.log(document.excelForm);
        function preview(){
            document.excelForm.action = '/excel/preview'
            document.excelForm.submit();
        }
        function download(){
            document.excelForm.action = '/excel/download'
            document.excelForm.submit();
        }
    </script>
</head>
<body>
<h1><%= title %></h1>
<h2>powered by wsure</h2>
<p>Welcome to <%= title %></p>
<br/>
<% if (error) { %>
    <h2><%= error %></h2>
<% } %>
<% if(excelObject.column !== undefined) {%>
    <table>
        <tr>
            <% excelObject.column.forEach( c => { %>
                <th><%= c %></th>
            <% }) %>
        </tr>
        <% excelObject.data.forEach( row => { %>
        <tr>
        <% excelObject.column.forEach( c => { %>
            <td><%= row[c] %></td>
        <% }) %>
        </tr>
        <% })%>
    </table>
<% } %>
<br/>
<br/>
NextCols：<label>
    <input type="text" name="nextCols" value="<%= body.nextCols %>">
</label><br/>
<br/>

<form id="excelForm" name="excelForm" method="post" enctype="multipart/form-data" action="/excel/preview">
    Excel：<input type="file" name="file"><br/>
    Cols：<label>
        <input type="text" name="cols" value="<%= body.cols %>">
    </label><br/>
    Sheet：<label>
        <input type="number" name="sheet" value="0"/>
    </label><br/>
    Strategy：<label>
        <textarea name="strategy"  ><%= body.strategy %></textarea>
    </label><br/>

    Preview：<label>
        <button type="button" name="Preview" onclick="preview()" >Preview</button>
    </label><br/>
    Download：<label>
        <button type="button" name="Download" onclick="download()" >Download</button>
    </label><br/>
</form>
<footer> powered by wsure</footer>
</body>
</html>
